<HTML>

<HEAD>
    <TITLE>Your Title Here</TITLE>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY=" crossorigin="anonymous" />
</HEAD>

<BODY BGCOLOR="FFFFFF">
    <div class="container">
        <div class="row">
            <img id="top-logo" style="width: 100px; margin: 20px;"
                src="https://setu.co/static/media/logo-dp-on-tp.52e425de.svg" alt="Setu logo">

        </div>
        <div id="app" class="row">
            <div class="twelve columns">
                <ul v-if="dataStore.data">
                    <li>VPA: [[ dataStore.data.vpa ]]</li>
                    <li>Pay: [[ '₹' + dataStore.data.amount]]</li>
                    <li>To: [[ dataStore.data.name]]</li>
                    <li>Notes: [[ dataStore.data.notes]]</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <a class="button button-primary" href="{{upiLink}}">Open UPI to pay</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var dataStore = {};
        var app = new Vue({
            el: '#app',
            data: {
                dataStore: dataStore
            },
            delimiters: ['[[', ']]']
        });

        const pathParam = window.location.pathname.split('/')[2];
        axios.get("/pay-data/" + pathParam).then(function (data) {
            dataStore.data = data.data;
            app.$forceUpdate();
        });
    </script>
</BODY>

</HTML>